**Recuerde no agregar o quitar celdas en este notebook, ni modificar su tipo. Si lo hace, el sistema automaticamente lo calificar√° con cero punto cero (0.0)**

Use el siguiente conjunto de datos para resolver los problemas propuestos. Use [gradetool](gradetool.md) para verificar las respuestas del notebook.

In [1]:
%%writefile data.csv
1,Vivian,Hamilton,1971-07-08,green,1
2,Karen,Holcomb,1974-05-23,green,4
3,Cody,Garrett,1973-04-22,orange,1
4,Roth,Fry,1975-01-29,black,1
5,Zoe,Conway,1974-07-03,blue,2
6,Gretchen,Kinney,1974-10-18,viole,1
7,Driscoll,Klein,1970-10-05,blue,5
8,Karyn,Diaz,1969-02-24,red,1
9,Merritt,Guy,1974-10-17,indigo,4
10,Kylan,Sexton,1975-02-28,black,4
11,Jordan,Estes,1969-12-07,indigo,4
12,Hope,Coffey,1973-12-24,green,5
13,Vivian,Crane,1970-08-27,gray,5
14,Clio,Noel,1972-12-12,red,5
15,Hope,Silva,1970-07-01,blue,5
16,Ayanna,Jarvis,1974-02-11,orange,5
17,Chanda,Boyer,1973-04-01,green,4
18,Chadwick,Knight,1973-04-29,yellow,1

Overwriting data.csv

In [2]:
%load_ext bigdata
%pig_init

ModuleNotFoundError: No module named 'bigdata'

In [ ]:
%%pig
u = LOAD 'data.csv' USING PigStorage(',') 
    AS (id:int, 
        firstname:CHARARRAY, 
        surname:CHARARRAY, 
        birthday:CHARARRAY, 
        color:CHARARRAY, 
        quantity:INT);

## Pregunta 1

Escriba una consulta en Pig que genere la siguiente salida:

    (Vivian@Hamilton)
    (Karen@Holcomb)
    (Cody@Garrett)
    (Roth@Fry)
    (Zoe@Conway)
    (Gretchen@Kinney)
    (Driscoll@Klein)
    (Karyn@Diaz)
    (Merritt@Guy)
    (Kylan@Sexton)
    (Jordan@Estes)
    (Hope@Coffey)
    (Vivian@Crane)
    (Clio@Noel)
    (Hope@Silva)
    (Ayanna@Jarvis)
    (Chanda@Boyer)
    (Chadwick@Knight)

In [ ]:
%%pig
result1 = FOREACH u GENERATE CONCAT(firstname, '@', surname); DUMP result1;

## Pregunta 2

Genere una relaci√≥n con el apellido y su longitud. Ordene por longitud y por apellido. Obtenga la siguiente salida.

    (Hamilton,8)
    (Garrett,7)
    (Holcomb,7)
    (Coffey,6)
    (Conway,6)

In [ ]:
%%pig
result2 = FOREACH u GENERATE surname, SIZE(surname); DUMP result2;
result22 = ORDER result2 BY $1 DESC, $0; DUMP result22;

## Pregunta 3

Escriba el c√≥digo que genere la siguiente salida.

    (Hamilton,HAMILTON,hamilton)
    (Holcomb,HOLCOMB,holcomb)
    (Garrett,GARRETT,garrett)
    (Fry,FRY,fry)
    (Conway,CONWAY,conway)

In [ ]:
%%pig
result3 = FOREACH u GENERATE surname, UPPER(surname), LOWER(surname); DUMP result3;

## Pregunta 4

Obtenga los apellidos que empiecen por las letras entre la 'd' y la 'k'. La salida esperada es la siguiente:

    (Hamilton)
    (Holcomb)
    (Garrett)
    (Fry)
    (Kinney)
    (Klein)
    (Diaz)
    (Guy)
    (Estes)
    (Jarvis)
    (Knight)

In [ ]:
%%pig
# TODO: Dont understand a fuck

## Pregunta 5

Escriba el c√≥digo equivalente a la siguiente consulta en SQL.

    SELECT
        color
    FROM 
        u 
    WHERE 
        color 
    LIKE 'b%';

In [ ]:
%%pig
result5 = FILTER u by (color MATCHES 'b(.*)'); DUMP result5;
result55 = FOREACH result5 GENERATE color; DUMP result55;

## Pregunta 6

Escriba el c√≥digo equivalente a la siguiente consulta SQL.

    SELECT 
        color 
    FROM 
        u 
    WHERE 
        color NOT LIKE 'b%';

In [ ]:
%%pig
result6 = FILTER u by NOT(color MATCHES 'b(.*)'); DUMP result6;
result66 = FOREACH result6 GENERATE color; DUMP result66;

## Pregunta 7

Escriba el c√≥digo equivalente a la siguiente consulta SQL.

    SELECT 
        firstname,
        color
    FROM 
        u 
    WHERE color = 'blue' AND firstname LIKE 'Z%';

In [ ]:
%%pig
result7 = FILTER u by color == 'blue' AND firstname MATCHES 'Z(.*)'; DUMP result7;
result77 = FOREACH result7 GENERATE firstname, color; DUMP result77

## Pregunta 8

Escriba el c√≥digo equivalente a la siguiente consulta SQL.

    SELECT
        firstname,
        color
    FROM 
        u
    WHERE color = 'blue' OR firstname LIKE 'K%';

In [ ]:
%%pig
result8 = FILTER u by color == 'blue' OR firstname MATCHES 'K(.*)'; DUMP result8;
result88 = FOREACH result8 GENERATE firstname, color; DUMP result88;

## Pregunta 9

Escriba el c√≥digo equivalente a la siguiente consulta SQL.

    SELECT 
        firstname, color 
    FROM 
        u
    WHERE color IN ('blue','black');

In [ ]:
%%pig
result9 = FILTER u by color IN ('blue', 'black'); DUMP result9;
result99 = FOREACH result9 GENERATE firstname, color; DUMP result99;

## Pregunta 10

Escriba el c√≥digo equivalente a la siguiente consulta SQL.

    SELECT 
        firstname, 
        color 
    FROM 
        u 
    WHERE color NOT IN ('blue','black');

In [ ]:
%%pig
result10 = FILTER u by color != 'blue' AND color != 'black'; DUMP result10;
result10 = FOREACH result10 GENERATE firstname, color; DUMP result10;

## Pregunta 11

Escriba el c√≥digo equivalente a la siguiente consulta SQL.

    SELECT
        firstname,
        color
    FROM 
        u 
    WHERE 
        color REGEXP '^b';

In [ ]:
%%pig
result11 = FILTER u by (color MATCHES "^b"); DUMP result11;
result11 = FOREACH result11 GENERATE firstname, color; DUMP result11;

## Pregunta 12

Escriba el c√≥digo equivalente a la siguiente consulta SQL.

    SELECT
        firstname,
        color
    FROM 
        u 
    WHERE 
        color REGEXP '^[^b]';

In [ ]:
%%pig
-- >>> Write your answer here <<<

## Pregunta 13

Escriba el c√≥digo equivalente a la siguiente consulta SQL.

    SELECT 
        firstname,
        color
    FROM 
        u
    WHERE 
        color REGEXP 'blue|green';

In [ ]:
%%pig
-- >>> Write your answer here <<<

## Pregunta 14

Escriba el c√≥digo equivalente a la siguiente consulta SQL.

    SELECT 
        firstname,
        color
    FROM 
        u
    WHERE 
        color REGEXP '.n';

In [ ]:
%%pig
result14 = FILTER u by (color MATCHES '(.*)n'); DUMP result14;
result14 = FOREACH result14 GENERATE firstname, color; DUMP result14;

## Pregunta 15

Escriba el c√≥digo equivalente a la siguiente consulta SQL.

    SELECT 
        firstname,
        color 
    FROM 
        u 
    WHERE 
        color REGEXP '[aeiou]$';

In [ ]:
%%pig
-- >>> Write your answer here <<<

## Pregunta 16

Escriba el c√≥digo equivalente a la siguiente consulta SQL.

    SELECT 
        REGEX_EXTRACT(birthday, '....-..-..', 2) 
    FROM 
        u;

In [ ]:
%%pig
-- >>> Write your answer here <<<

## Pregunta 17

Escriba el c√≥digo equivalente a la siguiente consulta SQL.

    SELECT  
        firstname,
        SUBSTRING_INDEX(firstname, 'a', 1)
    FROM 
        u;

In [ ]:
%%pig
-- >>> Write your answer here <<<

## Pregunta 18

Escriba el c√≥digo equivalente a la siguiente consulta SQL.

    SELECT 
        firstname 
    FROM 
        u 
    WHERE 
        SUBSTRING(firstname, 0, 1) >= 'm';

In [ ]:
%%pig
-- >>> Write your answer here <<<

## Pregunta 19

Escriba el c√≥digo equivalente a la siguiente consulta SQL.

    SELECT 
        firstname, 
        LOCATE('ia', firstname) 
    FROM 
        u;

In [ ]:
%%pig
-- >>> Write your answer here <<<

## Pregunta 20

Escriba el c√≥digo en Pig para manipulaci√≥n de fechas que genere sea equivalente a la siguiente consulta SQL.

    SELECT 
        birthday, 
        DATE_FORMAT(birthday, "yyyy"),
        DATE_FORMAT(birthday, "yy"),
    FROM 
        persons
    LIMIT
        5;

In [ ]:
%%pig
-- >>> Write your answer here <<<

## Pregunta 21

Escriba el c√≥digo en Pig para manipulaci√≥n de fechas que genere la siguiente salida.

    (1971-07-08,jul,07,7)
    (1974-05-23,may,05,5)
    (1973-04-22,abr,04,4)
    (1975-01-29,ene,01,1)
    (1974-07-03,jul,07,7)
    (1974-10-18,oct,10,10)
    (1970-10-05,oct,10,10)
    (1969-02-24,feb,02,2)
    (1974-10-17,oct,10,10)
    (1975-02-28,feb,02,2)
    (1969-12-07,dic,12,12)
    (1973-12-24,dic,12,12)
    (1970-08-27,ago,08,8)
    (1972-12-12,dic,12,12)
    (1970-07-01,jul,07,7)
    (1974-02-11,feb,02,2)
    (1973-04-01,abr,04,4)
    (1973-04-29,abr,04,4)

In [ ]:
%%pig
-- >>> Write your answer here <<<

## Pregunta 22

Escriba el c√≥digo en Pig para manipulaci√≥n de fechas que genere la siguiente salida:

    (1971-07-08,08,8,jue,jueves)
    (1974-05-23,23,23,jue,jueves)
    (1973-04-22,22,22,dom,domingo)
    (1975-01-29,29,29,mi√©,mi√©rcoles)
    (1974-07-03,03,3,mi√©,mi√©rcoles)
    (1974-10-18,18,18,vie,viernes)
    (1970-10-05,05,5,lun,lunes)
    (1969-02-24,24,24,lun,lunes)
    (1974-10-17,17,17,jue,jueves)
    (1975-02-28,28,28,vie,viernes)
    (1969-12-07,07,7,dom,domingo)
    (1973-12-24,24,24,lun,lunes)
    (1970-08-27,27,27,jue,jueves)
    (1972-12-12,12,12,mar,martes)
    (1970-07-01,01,1,mi√©,mi√©rcoles)
    (1974-02-11,11,11,lun,lunes)
    (1973-04-01,01,1,dom,domingo)
    (1973-04-29,29,29,dom,domingo)

In [ ]:
%%pig
-- >>> Write your answer here <<<

## Pregunta 23

Cuente la cantidad de personas nacidas por a√±o.

In [ ]:
%%pig
-- >>> Write your answer here <<<

---

In [ ]:
!rm pig_* data.csv

---